.App {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Ensure full viewport height */
}

.App-header {
  text-align: center; /* Center the text */
}

.logo{
  height: max-content;
  width: max-content;
}
