.App {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Ensure full viewport height */
}

.App-header {
  text-align: center; /* Center the text */
}

.container {
  padding: 0;
  background-color: #3f3f3f;
  min-height: 100vh;
}
